gitignore/
# Maven
target

# Eclipse
.settings
.classpath
*/.project
.project

# temp files
log
tmp/
*.tmp
log.txt
*.log

# vim
.*.swp

# Intellij
.idea/
.idea/workspace.xml
.idea/tasks.xml
*.iml
*.iws

# Test properties
test.properties

# Properties used in runtime
used-test.properties